<div class="row">
    <div class="col-md-auto mx-auto">
        <div class="card rounded">
            <div class="card-body">
                <div class="card-text">
                    Caso tenha esquecido suas credenciais, contate o administrador do sistema.
                </div>
                <div class="card-text">
                    Pelo whatsapp: +55 (37) 99949-1310
                </div>
                <div class="card-text">
                    Pelo e-mail: harleydebrito@gmail.com
                </div>
            </div>
        </div>
    </div>
</div>