<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card rounded">
            <div class="card-body">
                <form [formGroup]="form">
                    <h1>Entrar</h1>
                    <div class="form-group">
                        <label for="user">Usuário</label>
                        <input formControlName="user" id="user" type="email" class="form-control" autocomplete="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input formControlName="password" id="password" type="password" class="form-control" autocomplete="current-password">
                    </div>
                    <button (click)="login()" type="button" class="btn btn-primary btn-block">Entrar</button>
                </form>
                {{form.value | json}}
            </div>
        </div>
    </div>
</div>