<div class="row align-items-center full-background">
    <div class="col-md-4 mx-auto">
        <div class="card rounded-lg bg-light">
            <div class="card-body">
                <form [formGroup]="form">
                    <h1>Sabores da Vida</h1>
                    <div class="form-group">
                        <label [ngClass]="applyError('user')" for="user">Usuário</label>
                        <input [ngClass]="applyError('user')" formControlName="user" id="user" type="email" class="form-control" autocomplete="username">
                        <div class="invalid-feedback" *ngIf="form.get('user').hasError('required')">Digite um usuário</div>
                        <div class="invalid-feedback" *ngIf="form.get('user').hasError('email')">Digite um e-mail válido</div>
                        <div class="invalid-feedback" *ngIf="form.get('user').hasError('wrong')">Usuário ou senha estão incorretos</div>
                    </div>
                    <div class="form-group">
                        <label [ngClass]="applyError('password')" for="password">Senha</label>
                        <input [ngClass]="applyError('password')" formControlName="password" id="password" type="password" class="form-control" autocomplete="current-password">
                        <div class="invalid-feedback" *ngIf="form.get('password').hasError('minlength')">Senha deve ter no mínimo {{form.get('password').errors.minlength.requiredLength}} caracteres</div>
                        <div class="invalid-feedback" *ngIf="form.get('password').hasError('required')">Digite uma senha</div>
                        <div class="invalid-feedback" *ngIf="form.get('password').hasError('wrong')">Usuário ou senha estão incorretos</div>
                    </div>
                    <button (click)="login()" type="button" class="btn btn-primary btn-block">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>