<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card rounded">
            <div class="card-body">
                <form>
                    <h1>Entrar</h1>
                    <div class="form-group">
                        <label for="user">Usuário</label>
                        <input id="user" type="text" class="form-control" autocomplete="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" autocomplete="current-password">
                    </div>
                    <button type="button" class="btn btn-primary btn-block">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>