<br>
<h3>Funcionários</h3>
<div class="container" style="padding: 0px;">
    <div class="container-fluid border rounded-lg" style="padding: 0px;">
        <div class="list-group" role="tablist" [ngSwitch]="id">
            <a (click)="id = 1" class="list-group-item list-group-item-action" [routerLink]="[1]"
                data-toggle="list">Harley</a>
            <div class="container">
                <router-outlet *ngSwitchCase="1"></router-outlet>
            </div>

            <a (click)="id = 2" class="list-group-item list-group-item-action" [routerLink]="[2]"
                data-toggle="list">Harley</a>
            <router-outlet *ngSwitchCase="2"></router-outlet>
            <a (click)="id = 3" class="list-group-item list-group-item-action" [routerLink]="[3]"
                data-toggle="list">Harley</a>
            <router-outlet *ngSwitchCase="3"></router-outlet>
            <a (click)="id = 4" class="list-group-item list-group-item-action" [routerLink]="[4]"
                data-toggle="list">Harley</a>
            <router-outlet *ngSwitchCase="4"></router-outlet>
        </div>

    </div>
</div>